body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

.card {
  width: 350px;
  background: rgb(206, 131, 252);
  background: linear-gradient(
    0deg,
    rgba(206, 131, 252, 1) 0%,
    rgba(157, 0, 255, 1) 50%,
    rgba(206, 131, 252, 1) 100%
  );
  border-radius: 10px;
  text-align: center;
  background-clip: padding-box;
  padding: 20px;
  border: 15px solid #9d00ff;
  box-shadow: 5px 5px 5px #333;
}

.card-header {
  background: #ce83fc;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

.badge-style {
  max-width: 60px;
}

.badge {
  background-color: goldenrod;
  color: black;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px 1px;
  font-size: 12px;
  border: black 1px;
}

.header-text {
  min-width: 75%;
  display: flex;
  justify-content: space-between;
}

.card-image {
  background: rgb(206, 131, 252);
  background: linear-gradient(
    0deg,
    rgba(206, 131, 252, 1) 0%,
    rgba(157, 0, 255, 1) 50%,
    rgba(206, 131, 252, 1) 100%
  );
  border: 7px solid goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 10px;
}

.icon {
  max-width: 18px;
  max-height: 18px;
}

img {
  width: 125px;
  height: 190px;
}

.card-about {
  background: rgb(251, 202, 77);
  font-size: 12px;
  border-radius: 5px;
}

.card-info {
  background: rgb(206, 131, 252);
  background: linear-gradient(
    rgba(157, 0, 255, 1) 0%,
    rgba(206, 131, 252, 1) 100%
  );
  padding: 10px;
  font-size: 14px;
}

.card-footer {
  background: #ce83fc;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.sans-glitch {
  animation: glitch 0.2s infinite;
  color: red;
  text-shadow: 2px 2px blue;
}
